.container {
  color: white;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.gameContainer {
  margin-top: 20px;
}

.selectHeading {
  font-size: xx-large;
}

.selection {
  margin-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.selected {
  margin-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.empty {
  margin-top: 30px;
  display: inline-flex;
  gap: 20px;
}

.playerHeading {
  margin-top: 20px;
  color: #003de6;
  font-size: 50px;
}

.gridSelect{
  
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    width: 50vw;
    height: 50vw;
    max-width: 400px;
    max-height: 400px;
    background-color: black; 
  }

.gridItem {
    background-color: #1b1b1b; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: red; 
    border: 2px solid #333;
  }
  

  .gridItem:hover {
    background-color: #555; 
    cursor:default;
  }
  .gridItem.A {
    color: red;;
  }
  
  .gridItem.B {
    color: blue; 
  }

  .gridItem.A.selectedd {
    background-color: rgba(76, 175, 80, 0.2);
  }
  
  .gridItem.B.selectedd {
    background-color: rgba(33, 150, 243, 0.2);
  }

  .gridItem.A.selectedd:hover {
    background-color: rgba(76, 175, 80, 0.5);
  }
  
  .gridItem.B.selectedd:hover {
    background-color: rgba(33, 150, 243, 0.5);
  }